 #!/bin/bash

# Load resources
~/set_resolution.sh || true
dconnected=`xrandr | grep -c ' connected'`
if [ "$dconnected" -gt "1" ]; then
  ~/.screenlayout.sh || true
fi
sleep 1
xrdb -merge .Xresources

feh --bg-scale ~/pexels-photo-356243.jpeg

# Set up an icon tray

trayer --edge top --align right --SetDockType true --SetPartialStrut true \
 --expand true --width 10 --transparent true --tint 0x000000 --height 12 --monitor "primary" &

#stalonetray -i 12 --window-type normal --geometry 12x1+3720 \
#  --window-strut none --background black --icon-gravity NE &

# Set the background color<

# xsetroot -solid midnightblue

# Fire up apps

if [ -x /usr/bin/xscreensaver ] ; then
  xscreensaver -no-splash &
fi

if [ -x /usr/bin/nm-applet ] ; then
   nm-applet --sm-disable &
fi

if [ -x /usr/bin/clipit ] ; then
  clipit -d &
fi

#if [ -x /usr/bin/gnome-power-manager ] ; then
#   sleep 3
#   gnome-power-manager &
#fi

exec xmonad
